*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
/media
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/infinitewp/
wp-content/upgrade/
wp-content/uploads/
wp-content/uploads
wp-content/wp-cache-config.php
wp-content/updraft/
wp-content/managewp/
wp-content/backup-*/
*wp.dompdf.config.php
error_log
*configCache.php
